* text=auto !eol
addon/pom.xml svneol=native#text/plain
addon/repository/pom.xml svneol=native#text/plain
addon/repository/src/main/resources/namespace.xml -text
addon/repository/src/main/resources/properties.cnd -text
addon/repository/src/main/resources/template-translations.json -text
addon/repository/src/main/resources/types-translations.json -text
hst/pom.xml svneol=native#text/plain
hst/src/main/java/org/onehippo/forge/properties/annotated/Properties.java svneol=native#text/plain
hst/src/main/java/org/onehippo/forge/properties/annotated/Property.java svneol=native#text/plain
hst/src/main/java/org/onehippo/forge/properties/api/PropertiesManager.java svneol=native#text/plain
hst/src/main/java/org/onehippo/forge/properties/bean/PropertiesBean.java -text
hst/src/main/java/org/onehippo/forge/properties/bean/PropertiesMap.java svneol=native#text/plain
hst/src/main/java/org/onehippo/forge/properties/bean/PropertyBean.java svneol=native#text/plain
hst/src/main/java/org/onehippo/forge/properties/impl/CachingPropertiesManagerImpl.java svneol=native#text/plain
hst/src/main/java/org/onehippo/forge/properties/listener/PropertiesEventListener.java svneol=native#text/plain
hst/src/main/java/org/onehippo/forge/properties/tags/ParamContainerTag.java -text
hst/src/main/java/org/onehippo/forge/properties/tags/ParamTag.java -text
/pom.xml -text
src/site/resources/images/cms.jpg -text svneol=unset#image/jpeg
src/site/resources/images/site.jpg -text svneol=unset#image/jpeg
src/site/resources/images/thm_cms.jpg -text svneol=unset#image/jpeg
src/site/site.xml svneol=native#text/plain
src/site/xdoc/build-from-source.xml -text
src/site/xdoc/index.xml -text
src/site/xdoc/install.xml -text
src/site/xdoc/release-notes.xml svneol=native#text/plain
src/site/xdoc/screenshots.xml -text
src/site/xdoc/sitecode.xml -text
