/*.iml
/.classpath
/.idea
/.project
/.settings
addon/*.iml
addon/.classpath
addon/.project
addon/.settings
addon/repository/.classpath
addon/repository/.project
addon/repository/.settings
addon/repository/target
addon/target
hst/*.iml
hst/.classpath
hst/.project
hst/.settings
hst/target
/release.properties
/target
