/.classpath
/.project
/.settings
addon/repository/.classpath
addon/repository/.settings
addon/repository/target
addon/target
hst/.classpath
hst/.project
hst/.settings
hst/target
/release.properties
/target
